.App {
  font-family: sans-serif;
  text-align: center;
  margin: 0 20px;
  color: black;
}
.input {
  margin-bottom: 10px;
  margin-right: 20px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  width: 50%;
}

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
  margin-left: 10px;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196f3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
input[type="text"]:focus {
  border: 3px solid #555;
}
.margin {
  margin-left: 20px;
}

.googlemap {
  border: 2px solid #555;
}

.routeInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100px;
}
.routeText {
  display: flex;
  align-items: center;
  height: 25px;
}
.routeText > h6 {
  margin-left: 10px;
  text-decoration: underline;
  font-size: 14px;
}
.error{
  color: red;
  font-size: 20px;
}